form{
    width: 100%;
    flex: 1;
    margin: 20px;
}
  
fieldset{
    font-family: "Laila", serif;
    font-weight: 700;
    font-style: normal;
    padding: 20px;
}

legend{
    font-size: 25px;
}

.form-row{
    margin-top: 20px;
}