h2{
    font-size: 40px;
    font-family: "Laila", serif;
    font-weight: 700;
    font-style: normal;
}

.calendar {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.calendar-heading {
    display:flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.calendar-days {
    width: 100%;
    display: flex;
    margin-top: 20px;

}

.calendar-days .calendar-day{
    background-color: #e7a19d;
    justify-content: center;
    align-items: center;
    font-family: "Laila", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.calendar-day {
    width: 10vw;
    height:10vw;
    display: flex;
    border: 1px solid #82544f;
}

.calendar-weeks .calendar-day{
    align-items: center;
    justify-content: center;
}

.calendar-weeks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar-week {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
