@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 20px;
  height: 100%;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFF8F3;
}

header, footer{
  flex: 1;
  display: flex;

}

header{
  background-color: #E7A19D;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom: 5px solid white;
  flex-direction: column;
}

main {
  border: 7px solid #D38B81;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex: 6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF8F3;
}

footer{
  align-items: center;
}

footer p{
  text-align:center;
  flex: 1;
}

h1, p{
  font-family: "Laila", serif;
  font-weight: 700;
  font-style: normal;
}


/* D A R K M O D E */

body.dark-mode{
  background-color: #0E0D20;
  color: white;
}

body.dark-mode header{
  background-color: #503C94;
  border-bottom: black;
}

body.dark-mode main{
  border: 7px solid #26226D;
  background-color: #1A1832;
}

body.dark-mode .calendar-days .calendar-day{
    background-color: #503C94;
}

body.dark-mode #previous{
    background-color: #1A1832;
}

body.dark-mode #previous a:link{
    color: rgb(191, 184, 224);
}

body.dark-mode #previous a:visited{
    color: rgb(191, 184, 224);
}

body.dark-mode #next a:link{
    color: rgb(191, 184, 224);
}

body.dark-mode #next a:visited{
    color: rgb(191, 184, 224);
}

body.dark-mode #next{
    background-color: #1A1832;
}

body.dark-mode .calendar-day{
    border: 1px solid #26226D;
}