<!DOCTYPE html>
<html>
	<head>
		<title> My Website </title>
        
        {% block css %}
        {% endblock %}

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
	<body>
        <header>
            <h1> Dawhacks2024 - Exam Schedule generator </h1>

            {% block header %}
            {% endblock %}

        </header>
        
        <main>
            {% block content %}
            {% endblock %} 
            
            {%block errors%}
            {%endblock%}
        </main>

		<footer>
			<p> Contributors: Marin Melentii, Vijay Patel, Uyen Dinh Michelle Banh, You Ran Wang </p>
            <button id="darkmode"> Dark Mode! </button>
        </footer>
	</body>
</html>
