{% extends 'base.html' %} 

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/home.css') }}"> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
{% endblock %}

{% block content %}
	<form action="" method="post" enctype="multipart/form-data">
		{{form.hidden_tag()}}
		<fieldset>
			<legend>Register with us</legend>
			<section class="form-row">
				{{form.image (placeholder='UPLOAD IMAGE', class='form-field')}}
			</section>
			<section class="form-row">{{form.submit ( class='form-submit')}}</section>
		</fieldset>
	</form>
{% endblock %}
