{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/schedule.css') }}">
{% endblock %}

{% block content %}
    <div class="calendar">
        <div class="calendar-heading">
            <button id="previous"> <a href="{{url_for('schedule', month_to_display='January')}}"> prev </a> </button>
            <h2> {{month.name}} </h2>             
            <button id="next"> <a href="{{url_for('schedule', month_to_display='January')}}"> next </a> </button>
        </div> 

        <div class="calendar-days">
            <div class="calendar-day">Sun</div>
            <div class="calendar-day">Mon</div>
            <div class="calendar-day">Tue</div>
            <div class="calendar-day">Wed</div>
            <div class="calendar-day">Thu</div>
            <div class="calendar-day">Fri</div>
            <div class="calendar-day">Sat</div>
        </div>
        
        <div class="calendar-weeks">
            {% for week in weeks %}
                <div class="calendar-week">
                    {%for day in week%}
                    <div class="calendar-day">
                        {{day}}
                    </div>
                    {%endfor%}
                </div>
            {%endfor%}
    </div>
{% endblock %}